.card {
  background-color: white;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  padding: 10px;
  box-shadow: 0px 0px 8px 2px black;
}

.location,
.weather-info {
  display: flex;
  justify-content: center;
}

.location > h2 {
  text-align: center;
}

.weather-info {
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.weather-info > h2 {
  margin: 0;
}

.weather-info > p {
  margin: 0;
  font-style: italic;
  text-transform: capitalize;
}
